<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>#</th>
          <script> for (x = 1; x < 11; x ++) {
          document.write("<th>")
          document.write(x)
          document.write("</th>")
          }
          </script>
        </tr>
      </thead>
      <tbody>
      <script>
        var letter = 'A'
        for (x = 1; x < 11; x ++) {
          document.write("<tr><td>")
          document.write(letter)
          for (y = 1; y < 11; y ++) {
            document.write("<td>")
            document.write("~")
            document.write("</td>")
          }
          document.write("</td></tr>")
          letter = String.fromCharCode(letter.charCodeAt() + 1)
          }
          </script>
      </tbody>
    </table>
  </div>
  <div class="col-md-4"></div>
</div>
