<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-resource/angular-resource.js"></script>
<script src='/src/player.js'></script>

<center><h1>Battleships</h1></center>
